<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.AuthorityDao">
    <resultMap id="authorityMap" type="com.qfedu.pojo.Authority">
        <id column="id" property="id"></id>
        <result column="aicon" property="aicon"></result>
        <result column="aurl" property="aurl"></result>
        <result column="parentId" property="parentId"></result>
        <result column="title" property="title"></result>
        <result column="type" property="type"></result>
        
        <collection property="cmenulist" javaType="java.util.ArrayList" ofType="com.qfedu.pojo.Authority">
            <id column="cid" property="id"></id>
            <result column="caicon" property="aicon"></result>
            <result column="caurl" property="aurl"></result>
            <result column="cparentId" property="parentId"></result>
            <result column="ctitle" property="title"></result>
            <result column="ctype" property="type"></result>
        </collection>
    </resultMap>

    <select id="findmenu" parameterType="int" resultMap="authorityMap">
        select a.id,a.aicon,a.aurl,a.parentId,a.title,a.type,c.id as cid,c.aicon as caicon,c.aurl as caurl,c.parentId as cparentId,c.title as ctitle,c.type as ctype from t_authority a
        inner join t_authority c
        on a.id=c.parentId
        inner join t_roleauthority r
        on r.aid=c.id
        inner join t_userrole ur
        on ur.rid=r.rid
        inner join t_user u
        on u.id=ur.uid
        where u.id=#{id}
    </select>
</mapper>