<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.CourseDao">
    <resultMap id="courseMap" type="com.qfedu.pojo.Course">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="flag" property="flag"></result>
        <result column="week" property="week"></result>
        <result column="createdate" property="createdate"></result>
        <result column="type" property="type"></result>

    </resultMap>

    <select id="findCourse" resultMap="courseMap">
        select * from t_course
    </select>
    


</mapper>