<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.StaffDao">
    <resultMap id="staffMap" type="com.qfedu.pojo.Staff">
        <id column="no" property="no"></id>
        <result column="name" property="name"></result>
        <result column="did" property="did"></result>
        <result column="flag" property="flag"></result>
        <result column="sex" property="sex"></result>
        <result column="email" property="email"></result>
        <result column="qq" property="qq"></result>
        <result column="phone" property="phone"></result>
        <result column="createdate" property="createDate"></result>
        <result column="photo" property="photo"></result>
    </resultMap>

    <select id="findStaff" resultMap="staffMap">
        select * from t_staff
    </select>

</mapper>