<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.StudentDao">
    <resultMap id="studentMap" type="com.qfedu.pojo.Student">
        <id column="no" property="no"></id>
        <result column="name" property="name"></result>
        <result column="sex" property="sex"></result>
        <result column="birthday" property="birthday"></result>
        <result column="cardno" property="cardno"></result>
        <result column="school" property="school"></result>
        <result column="education" property="education"></result>
        <result column="gid" property="gid"></result>
        <result column="flag" property="flag"></result>
        <result column="email" property="email"></result>
        <result column="qq" property="qq"></result>
        <result column="phone" property="phone"></result>
        <result column="introno" property="introno"></result>
        <result column="createdate" property="createDate"></result>
        <result column="photo" property="photo"></result>
        <association property="grade" resultMap="com.qfedu.dao.GradeDao.gradeMap"></association>
    </resultMap>

    <select id="findStuPage" resultMap="studentMap">
        select * from t_student s inner join t_grade g on s.gid=g.id
    </select>

    <insert id="addEmps" parameterType="list">
        insert into t_student(no, name, sex, birthday, cardno,school,education,gid,flag,email,qq,phone,introno,createdate,photo) values
        <foreach collection="list" item="stu" separator=",">
            (#{stu.no}, #{stu.name}, #{stu.sex}, #{stu.birthday}, #{stu.cardno}, #{stu.school}, #{stu.education}, #{stu.gid}, #{stu.flag}, #{stu.email}, #{stu.qq}, #{stu.phone}, #{stu.introno}, #{stu.createDate}, #{stu.photo})
        </foreach>

    </insert>

    <insert id="addStu" parameterType="com.qfedu.pojo.Student">
        insert into t_student(no,name,sex,birthday,cardno,school,education,gid,flag,email,qq,phone,introno,createdate,photo)
        values(#{no},#{name},#{sex},#{birthday},#{cardno},#{school},#{education},#{gid},#{flag},#{email},#{qq},#{phone},#{introno},#{createDate},#{photo})
    </insert>

    <delete id="deleteStu" parameterType="String">
        delete from t_student where no=#{no}
    </delete>
</mapper>