<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.UserDao">
    <resultMap id="userMap" type="com.qfedu.pojo.User">
        <id column="id" property="id"></id>
        <result column="no" property="no"></result>
        <result column="password" property="password"></result>
        <result column="name" property="name"></result>
        <result column="flag" property="flag"></result>
        <result column="headphoto" property="headphoto"></result>

        <association property="authority" resultMap="com.qfedu.dao.AuthorityDao.authorityMap"></association>

        <collection property="roles" ofType="com.qfedu.pojo.Role">
            <result column="info" property="info"></result>
        </collection>
    </resultMap>
    
    <select id="findUser" parameterType="com.qfedu.pojo.User" resultMap="userMap">
        select * from t_user where no=#{no} and password=#{password}
    </select>

    <select id="selectAll" resultMap="userMap">
        select u.id,u.no,u.name,u.flag,r.info from t_user u
        inner join t_userrole ur
        on u.id=ur.uid
        inner join t_role r
        on r.id=ur.rid
    </select>
    <select id="findAll" resultMap="userMap">
        select * from t_user where flag=1
    </select>

</mapper>